name: Deploy ASP.NET Core app to Azure Web App - 2026 edition

on:
  push:
    branches:
      - main-no-way
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  DOTNET_VERSION: '10.x'
  DOTNET_ROOT: .
  SECRET_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  SECRET_TENANT_ID: ${{ secrets.TENANT_ID }}
  SECRET_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID  }}
  APP_NAME: 'ReactLiveDev'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build
        run: dotnet build --configuration Release

      - name: Publish
        run: dotnet publish -c Release -o ${{ github.workspace }}/publish

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_NAME }}
          package: ${{ github.workspace }}/publish